.orderDetailsPage {
  background-color: white;
  border: 1px solid black;
  margin: auto;
  width: 80%;
  overflow: hidden;
}

.orderDetailsContainer {
  padding: 3vmax;
  padding-bottom: 0%;
}

.orderDetailsContainer>p {
  font: 500 1.8vmax "League Spartan";
}

.orderDetailsContainerBox,
.orderDetailsCartItemsContainer {
  margin: 2vmax;
}

.orderDetailsContainerBox>div {
  display: flex;
  align-items: center;
  margin: 0.1vmax 0;
}

.orderDetailsContainerBox>div>p {
  font: 500 1.3vmax "League Spartan";
  color: black;
}

.orderDetailsContainerBox>div>span {
  margin: 0 1vmax;
  font: 300 1.1vmax "League Spartan";
  color: #575757;
}

.orderDetailsCartItems>p {
  font: 500 1.8vmax "League Spartan";
}

.orderDetailsCartItems {
  padding: 2vmax 5vmax;
  border-top: 1px solid rgba(0, 0, 0, 0.164);
}

.orderDetailsCartItemsContainer>div {
  display: flex;
  font: 500 1.4vmax "League Spartan";
  align-items: center;
  margin: 2vmax 0;
}


.orderDetailsCartItemsContainer>div>span {
  font: 300 1.4vmax "League Spartan";
  color: #5e5e5e;
}

@media screen and (max-width: 600px) {
  .orderDetailsContainer>p {
    font: 500 6vw "League Spartan";
  }

  .orderDetailsContainerBox>div {
    margin: 6vw 0;
  }

  .orderDetailsContainerBox>div>p {
    font: 400 4vw "Roboto";
  }

  .orderDetailsContainerBox>div>span {
    font: 100 4vw "Roboto";
  }

  .orderDetailsCartItems>p {
    font: 400 6vw "Roboto";
  }

  .orderDetailsCartItemsContainer>div {
    font: 400 4vw "Roboto";
    margin: 4vw 0;
  }

  .orderDetailsCartItemsContainer>div>img {
    width: 10vw;
  }

  .orderDetailsCartItemsContainer>div>a {
    margin: 2vw;
    width: 30%;
  }

  .orderDetailsCartItemsContainer>div>span {
    font: 100 4vw "Roboto";
  }
}