#page-header {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/0f9b6589694601.5dfcb7f367996.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: white;
}

.select {
  width: 20%;
  text-align: center;
}


.item-section {
  display: flex;
  padding: 20px;
  width: 100%;
}

.products {
  flex: 5;
}



.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: tomato;
}

.pageLinkActive {
  color: white;
}


@media screen and (max-width: 600px) {

  .page-link {
    font: 300 1.7vmax "Roboto";
  }
}